*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  background: #84C7AE;
}
#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup,.signin{
  color: #32403B;
  padding: 1rem 0rem;
  height: 60%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background: #F6FBF9;
  border-radius: 49.0901px;

}
.signin{
  height: 50%;
}
.message{
  padding-left: 2rem;
  background: inherit;
  align-self: flex-start;
  color: red;
  font-size: .8rem;
}
.signup h3,.signin h3{
  background: inherit;
  font-size: 1.5rem;
}
.signup input,.signin input{
  outline: none;
  padding-left: 20px;
  width: 90%;
  height: 10%;
  background: #FFFFFF;
  border: 1.53407px solid rgba(0, 0, 0, 0.1);
  border-radius: 15.3407px;
}
.signin input{
  height: 15%;
}
.signup > button,.signin > button{
  cursor: pointer;
  font-size: 1rem;
  border: none;
  width: 60%;
  height: 10%;
  text-align: center;
  color: #FFFFFF;
  background: #84C7AE;
  border-radius: 23.011px;
}
.signup .Account,.signin .No-account{
  background: inherit;
  text-align: center;
  color: #32403B;
  font-size: .8rem;
}
.signup span,.signin span{
  cursor: pointer;
  color: inherit;
  background: inherit;
  text-decoration: none;
}
@media (max-width:480px){
  .signin,.signup{
    height: 50%;
    width: 80%;
  }
}
@media (max-width:850px) {
  .signin,.signup{
    height: 50%;
    width: 70%;
  }
  .signup h3,.signin h3{
    background: inherit;
    font-size: 1rem;
  }
}